@charset "utf-8";

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: unset;
}

a {
    color: unset;
    text-decoration: unset;
}

button {
    border: 0;
    background: unset;
}

a,
button {
    cursor: pointer;
}

ol,
ul,
menu,
blockquote {
    margin: unset;
    list-style: unset;
}