@charset "utf-8";

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
    all: unset;
    cursor: pointer;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
    list-style: none;
}